/* General styles - put these straight into your stylesheet */
/* This is a set of general styles for the overall page */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* ......................Styles specific to the card container......................  */

/* Specificity/weight here is 10 */
.card {
  width: 35em;
  height: 23em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card h2 {
    font-size: 2em;
    line-height: 2;
}

.card h2:only-child, p:only-child {
    margin: 0;
}

/* ......................Styles specific to the header and footer..................... */

/* Specificity/weight here is 11 i.e 10+1=11 */
.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

/* Specificity/weight here is 11 i.e 10+1=11 */ 
.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card header, .card footer {
    height: 3em;
    padding: 1em;
    margin: 0;
    border: 0;
}

.card footer p {
  font-size: 1.5em;
  line-height: 2;
  font-weight: bold;
}

/* .......................Styles speciifc to the main business card contents........... */

.card article {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
}

/* Specificity/weight here is 12 i.e 10+1+1=12 */
.card article img {
  max-height: 100%;
  float: right;
}

.card article p {
  padding-left: 1em;
  padding-top: 1.2em;
  color: white;
  font-size: 1.1em;
  font-family: cursive;
  font-weight: bold;
  line-height: 1.2;
}
